* {
  color: black;
}

li a {
  color: black;
}

header {
  background-color: #000000;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;

  color: black;
}

h1,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.headerr {
  margin-top: 50px;
  background: #fff;

  background: url("header-bg.jpg") no-repeat center center/cover;
  text-align: center;
  padding: 50px 20px;
  color: #000000;
}

.headerr h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.headerr p {
  font-size: 18px;
  color: #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ff6f61;
}

.card-content p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
}

.card .btn {
  display: inline-block;
  background-color: #ff6f61;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.card .btn:hover {
  background-color: #e0554d;
}

.slider {
  position: relative;
  max-width: 100%;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-buttons button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  transition: 0.3s;
}

.slider-buttons button:hover {
  background: rgba(0, 0, 0, 0.8);
}
